/* Variables
******************************************************************************/


/**
 * Breakpoints
 */

$breakpoint-mobile: 414px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-xlarge: 1280px;


/**
 * Typography
 */


/**
 * Colors
 */

$color-main: #E76A1F;
$color-left-nav-bg: #FFFFFF;
$color-main-bg: #FFFFFF;
