/* Variables
******************************************************************************/
/* Mixins
******************************************************************************/
/* Component - Hero
******************************************************************************/
.storefront .top-row {
  padding-top: 0; }

.catalog-center-width.one-col-full {
  width: 100% !important;
  padding: 0; }
  .catalog-center-width.one-col-full .catalog-header {
    padding: 0; }

.hero {
  background-image: url("http://scratch.local/dist/images/bg-whiteboard-dark.jpg");
  background-position: center 30%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  padding: 10%;
  text-align: center; }
  @media (min-width: 1280px) {
    .hero {
      padding: 100px 0; } }
  .hero h1 {
    color: white;
    font-size: 2em;
    font-size: calc(2em + 1vw); }
  .hero h2 {
    color: white;
    font-size: 1em;
    font-size: calc(1em + 1vw); }
