@import "../../sass/variables";
@import "../../sass/mixins";

/* Component - Hero
******************************************************************************/

.storefront .top-row {
  padding-top: 0;
}

.catalog-center-width.one-col-full {
  width: 100% !important;
  padding: 0;

  .catalog-header {
    padding: 0;
  }
}

.hero {
  background-image: url('https://raw.githubusercontent.com/cressmancm/Skilljar-Custom/master/dist/images/bg-drawings-dark.jpg');
  background-position: center 30%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  padding: 10%;
  text-align: center;

  @include xlarge {
    padding: 60px 0;
  }

  h1 {
    color: white;
    font-size: 2em;
    font-size: calc(2em + 1vw);
  }

  h2 {
    color: white;
    font-size: 1em;
    font-size: calc(1em + 1vw);
  }
}
