@import "../../sass/variables";
@import "../../sass/mixins";

/* Components - Tile Sort
******************************************************************************/

#tileSort {
  background: $color-main;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 300;
  list-style: none;
  padding: 5px;
  text-align: center;
  user-select: none;
  width: 100px;

  li {
    display: none;

    &:first-child {
      display: block;
    }
  }
}


.search #tileSort {
  display: none;
}
